engine-strict=true # Enforce the engine requirements
allow-git=root # Block exotic sub-dependencies
allow-remote=root # Block exotic sub-dependencies
min-release-age=7
ignore-scripts=true # Packages that really need lifecycle scripts should be analyzed and should be rebuilt manually with `npm rebuild `